* {
    margin: 0;
    padding: 0;
}
:root {
    --Pink: hsl(322, 100%, 66%);
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    padding: 3%;
}
.bkg-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.header {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: hsla(192, 100%, 96%, 0.547);
    overflow: hidden;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
}
.navbar img {
    height: 40%;
}
.navbar button {
    font-family: "Open Sans", sans-serif;
    background-color: white;
    border: none;
    padding: 10px 50px;
    border-radius: 40px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.147);
    font-weight: bold;
    transition: 0.3s;
}
.navbar button:hover {
    cursor: pointer;
    color: rgb(104, 104, 104);
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
}
.header-img {
    flex-basis: 50%;
}
.header-img img {
    width: 600px;
}
.header-content .header-txt {
    margin-right: 55px;
}
.header-content .header-txt p:first-of-type {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 35px;
}
.header-content .header-txt p:last-of-type {
    font-family: "Open Sans", sans-serif;
    margin-top: 15px;
    margin-bottom: 50px;
}
.header-content .header-txt button {
    color: white;
    background-color: var(--Pink);
    border: none;
    padding: 15px 40px;
    border-radius: 40px;
    transition: 0.3s;
}
.header-content .header-txt button:hover {
    cursor: pointer;
    background-color: hsl(322, 93%, 71%);
}
.content {
    margin-top: 50px;
    padding-bottom: 50px;
}
.content .box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.056);
    border-radius: 5px;
}
.content .box img {
    width: 300px;
    padding: 30px 50px;
}
.content .box .box-text {
    padding: 50px;
}
.content .box .box-text p:first-of-type {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 15px;
}
.content .box .box-text p:last-of-type {
    font-family: "Open Sans", sans-serif;
    color: var(--Grayish-Blue);
}

.footer {
    background-color: var(--Very-Dark-Cyan);
    position: relative;
}
.floating-signup-container {
    background-color: white;
    width: fit-content;
    position: absolute;
    top: -75px;
    left: 50%;
    transform: translatex(-50%);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.056);
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.floating-signup-container p {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 20px;
}
.floating-signup-container button {
    color: white;
    background-color: var(--Pink);
    border: none;
    padding: 15px 40px;
    border-radius: 40px;
    transition: 0.3s;
    width: fit-content;
    margin: auto;
}
.floating-signup-container button:hover {
    cursor: pointer;
    background-color: hsl(322, 93%, 71%);
}
.footer-container {
    font-family: "Open Sans", sans-serif;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.footer-container > img {
    width: 300px;
    margin-bottom: 20px;
}
.footer-container > p {
    color: white;
    margin-left: auto;
}
.footer-container .links {
    display: flex;
    justify-content: space-between;
}
.links .first-lists li {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: white;
    max-width: 600px;
    font-size: 14px;
    line-height: 1.7;
}
.links .first-lists li img {
    width: 15px;
    height: 15px;
    padding-right: 15px;
}
.second-list li {
    padding: 10px 0;
}
.second-list li a {
    color: white;
}
.second-list li a:hover {
    text-decoration: underline;
}

.third-list li {
    padding: 10px 0;
}
.third-list li a {
    color: white;
}
.third-list li a:hover {
    text-decoration: underline;
}
.social-container {
    display: flex;
}
.social-box {
    margin: 10px;
    padding: 10px;
    height: 20px;
    width: 20px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: 0.3s;
}
.social-box:hover {
    cursor: pointer;
    color: var(--Pink);
    border-color: var(--Pink);
}


@media (max-width: 767px) {
    .header-content {
        flex-direction: column;
    }
    .header-img {
        flex-basis: 100%;
    }
    .header-img img {
        width: 100%;
    }
    .header-content .header-txt {
        margin: auto;
        align-items: center;
        text-align: center;
    }
    .header-content .header-txt p:first-of-type {
        font-size: 25px;
    }
    .header-content .header-txt p:last-of-type {
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .header-content .header-txt button {
        margin-bottom: 15px;
    }
    .content .box {
        flex-direction: column-reverse;
        text-align: center;
    }
    .floating-signup-container {
        width: 70%;
        text-align: center;
    }
    .footer-container {
        margin-top: 30px;
    }
    .footer-container > p {
        margin: auto;
    }
    .links {
        flex-direction: column;
    }
    .social-container {
        margin: 0 auto 20px;

    }
}
